@import url(/style/main-style.css);

.ButtonLarge {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 238px;
    height: 238px;
    border-radius: 20px;
    background-color: var(--gray);
    padding: 50px 25px 25px 25px;
    cursor: pointer;
    transition: transform 0.3s ease-out;
}

.ButtonLarge:hover {
    transform: scale(1.05);
}

.ButtonIcon {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    border: 0.4rem solid var(--dark-gray);
    border-radius: 35px;
}

.ButtonIcon > i {
    color: var(--dark-gray);
    font-size: 2rem;
}

.ButtonText {
    font-family: 'SF Pro Display', sans-serif;
    color: var(--dark-gray);
    font-size: 1.4rem;
    font-weight: 500;
}

#Weather {
    background-color: var(--dark-gray);
}
#Weather > .ButtonIcon{
    border-color: var(--light);
}
#Weather > .ButtonIcon > i{
    color: var(--light);
}
#Weather > .ButtonText{
    color: var(--light);
}

.ButtonMed {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: var(--gray);
    padding: 20px;
    cursor: pointer;
}

.ButtonMedInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.ButtonMed>i {
    color: var(--dark-gray);
    font-size: 1.5rem;
}

.ActiveIcon {
    transition: transform 0.3s ease-in-out;
    transform: rotate(45deg);
}

/* *** IDEA: ANIMATION FROM OPACITY */

.DataText {
    color: var(--dark-gray);
    font-size: 1.02rem;
    font-weight: 200;
    margin-top: 0.4rem;
}

.Hidden {
    display: none;
}

.PrimaryCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    background-color: var(--light);
    padding: 40px 20px 20px 20px;
    cursor: pointer;
    transition: transform 0.3s ease-out;
}

.PrimaryCard:hover {
    transform: scale(1.05);
    background-color: var(--primary-hover);
}

.PrimaryCard> i {
    color: var(--dark-gray);
    font-size: 2rem;
}

.PrimaryCardText {
    font-family: 'SF Pro Display', sans-serif;
    color: var(--dark-gray);
    font-size: 1.12rem;
    font-weight: 500;
}

.ButtonPrimary {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 194px;
    height: 68px;
    border-radius: 30px;
    background-color: var(--primary);
    padding: 16px;
    cursor: pointer;
}

.ButtonPrimary:hover {
    background-color: var(--primary-hover);
}

.PrimaryText {
    font-family: 'SF Pro Display', sans-serif;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
}

.InvertedColor:hover > .PrimaryCardText {
    color: var(--light);
}

.InvertedColor:hover > i {
    color: var(--light);
}

.GoBack{
    position: fixed;
    top: 50vh;
    left: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    background-color: var(--gray);
    border-radius: 32px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(51,51,51,0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(51,51,51,0.2);
    box-shadow: 4px 4px 8px 0px rgba(51,51,51,0.2);
  }

.GoBack > i{
    color: var(--dark-gray);
    font-size: 2.4rem;
  }

.GoBack:hover{
    background-color: #8B8B8B;
  }
.GoBack:hover > i{
    color: var(--light);
  }