@import url(/style/main-style.css);

.InnerScreen{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-first {
    display: grid;
    grid-template-columns: auto auto;
    gap: 12px;
  }

/* ========== GENERAL INFO SCREEN ========== */

.item1 { grid-area: title; }
.item2 { grid-area: area; }
.item3 { grid-area: poblacion; }
.item4 { grid-area: religion; }
.item5 { grid-area: capital; }
.item6 { grid-area: gobierno; }
.item7 { grid-area: jefe; }
.item8 { grid-area: presidente; }
.item9 { grid-area: lenguas; }

.grid-general {

  display: grid;
  grid-template-areas:
    'title      title       title       title'
    'area       lenguas     capital     jefe'
    'area       lenguas     capital     jefe'
    'poblacion  lenguas     capital     jefe'
    'poblacion  lenguas     gobierno    presidente'
    'religion   lenguas     gobierno    presidente'
    'religion   lenguas     gobierno    presidente';
  gap: 12px;
}

.grid-general > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

/* ========== NATIONAL INFO SCREEN ========== */




/* ========== WEATHER INFO SCREEN ========== */


#Weather-Title { 
  grid-area: title;
  text-align: center;
}

#SpainMap { grid-area: map; }
#Oceanic-Weather { grid-area: oceanic; }
#Mediterran-Weather { grid-area: mediterran; }
#SubTropical-Weather { grid-area: tropical; }
#SemiDesert-Weather { grid-area: desert; }
#Mountain-Weather { grid-area: mountain; }
#Continental-Weather { grid-area: continental; }

.grid-weather {

  display: grid;
  grid-template-areas:
    'title      title       title       title   title'
    'map      map       map       oceanic   mediterran'
    'map      map       map       tropical  desert'
    'map      map       map       mountain  continental';
  gap: 12px;
  }

  .grid-weather > div {
  }

/* #Oceanic{} */
#Subtropical:hover{background-color: var(--violet);}
#SemiDesert:hover{background-color: var(--green);}
#Mountain:hover{background-color: var(--velvet);}

#Continental:hover{background-color: var(--dark-gray);}
#Mediterranean:hover{ background-color: var(--primary);}

/* #Continental:hover > .PrimaryCardText{
  color: var(--light);
} */